<link rel="stylesheet" href="app/components/about/about.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12  hero about-hero">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-title">About Us</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12">
            <p>A private, nonprofit, educational organization established in 1825, the Connecticut Historical Society is the state’s official historical society and one of the oldest in the nation. Located at 1 Elizabeth Street in Hartford, the CHS houses a museum, library, and the Edgar F. Waterman Research Center that are open to the public and funded by private contributions. The CHS’s collection includes more than 4 million manuscripts, graphics, books, artifacts, and other historical materials accessible at our campus and on loan at other organizations.
            The CHS collection, programs and exhibits help Connecticut residents connect with each other, have conversations that shape our communities, and make informed decisions based on our past and present.</p>
        </div>
        <br>
        <div class="col-xs-12">
            <p><strong>Mission: </strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede </p>
        </div>
        <div class="col-xs-12">
            <p><strong>Goals: </strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede </p>
        </div>
    </div>
</div>
<div class="container-fluid text-center">
    <div class="row body-content text-center">
        <div class="col-xs-12 col-md-3 promo-1">
            <h3>CCHS Board</h3>
            <hr>
            <p><strong>Short Description Here</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec

            </p>
        </div>
        <div class="col-xs-12 col-md-3 promo-2">
            <span><i class="fa fa-newspaper-o large-icon"></i></span>
            <h3>Latest Updates</h3>
            <a class="click-here" href="#">Click Here  <i class="fa fa-arrow-circle-right small-arrow"></i></a>
        </div>
        <div class="col-xs-12 col-md-3 promo-3">
            <span><i class="fa fa-home large-icon"></i></span>
            <h3>Return Home</h3>
            <a class="click-here" href="#">Click Here  <i class="fa fa-arrow-circle-right small-arrow"></i></a>
        </div>
    </div>
</div>