<link rel="stylesheet" href="app/components/about/about.css">

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/#/" class="fa fa-home"></a></li>
                <li><a href="/#/about">About CCHS</a></li>
                <li>Board of Directors</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">Board of Directors</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12 col-sm-9">
            <p><strong>Crawford County Historical Society Board of Directors:</strong></p>
            <ul>
                <li>
                    Gail Thomas<br>
                    <i>President</i>
                </li>
                <li>
                    Faith Dandois<br>
                    <i>Vice-President</i>
                </li>
                <li>
                    Dave Baran<br>
                    <i>Secretary</i>
                </li>
                <li>
                    John Pilon<br>
                    <i>Treasurer</i>
                </li>
                <li>Rae Gosling<br>
                    <i>Board Member</i>
                </li>
                <li>Carl Yost<br>
                    <i>Board Member</i>
                </li>
                <li>Dale Papendick<br>
                    <i>Board Member</i>
                </li>
                <li>David Spencer<br>
                    <i>Board Member</i>
                </li>
                <li>Tad Randolph<br>
                    <i>Board Member</i>
                </li>
                
            </ul>
     
        
            <p><strong>The Board of Directors meets on the second Tuesday of every month at 3pm.</strong></p>
            <p>From April to September, meetings are held at the Museum, which is located at:</p>
            <p class="address">97 East Michigan Avenue<br>Grayling, MI  49738</p>
            <p>From October to March, the board meets at the Grayling Township Hall, which is located at:</p>
            <p class="address">2090 Viking Way<br>Grayling, MI 49738</p>
            <p>To contact the board of directors or a specific member of the board, please call the Crawford County Historical Society on <a href="tel:989-745-3493">989-745-3493</a>.  Someone will get back with you as soon as possible</p>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
            <a href="/#/about" class="col-xs-12 orange promo">
                <span><i class="fa fa-users large-icon"></i></span>
                <h3>About Us</h3>
                Click Here <i class="fa fa-arrow-circle-right small-arrow"></i>
            </a>
            <a href="/#/about/support" class="col-xs-12 blue promo">
                <span><i class="fa fa-support large-icon"></i></span>
                <h3>Support CCHS</h3>
                Click Here  <i class="fa fa-arrow-circle-right small-arrow"></i>
            </a>
            <a href="/#/contact" class="col-xs-12 orange promo">
                <span><i class="fa fa-phone large-icon"></i></span>
                <h3>Contact Us</h3>
                 Click Here  <i class="fa fa-arrow-circle-right small-arrow"></i></a>
            </a>
        
        </div>
    </div>
</div>

