<link rel="stylesheet" href="app/components/about/support.css">
<div class="container-fluid">
    <!--<div class="row">
        <div class="col-xs-12  hero membership-hero">
        </div>
    </div>-->
     <div class="row">
         <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/#/" class="fa fa-home"></a></li>
                <li><a href="/#/about">About CCHS</a></li>
                <li>Support</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">Support CCHS</h1>
            <hr class="page-title-rule">
        </div>
    </div>
    <div class="row body-content">
        <div class="col-xs-12">
            <h3>There are many ways to support the Crawford County Historical Society and Museum</h3>
        </div>
    </div>
    
    
    <!--Membership-->
    <div class="row body-content membership">
        <div class="col-xs-12">
            <h3>Volunteer Your Time</h3>
        </div>
        <div class="col-xs-12">
            <p>Volunteers are a vital component of the museum’s success.  We welcome all volunteers no matter if you have a little time to offer or a lot.  In addition, we have a variety of areas where you can dedicate your time, depending on your interests.</p>
            <ul>
                <li>Help us do research</li>
                <li>Help us create the exhibits and displays</li>
                <li>Work at the welcome desk and greet visitors who come from all parts of the country</li>
            </ul>
            <p>To volunteer your time, contact the museum on 989-348-4461.</p>
        
        </div>

    </div>
    
    
    <!--Donations-->
    <div class="row body-content donations">
        <div class="col-xs-12">
            <h3>Donate to help with the Day-to-Day Operations of the Museum</h3>
        </div>
        <div class="col-xs-12">
             <p>A donation to the Crawford County Historical Society is a donation that helps to keep the museum up and running. Your donation helps to pay the bills and continue to preserve the history of the county.</p>
            <p>The Crawford County Historical Society and Museum welcomes any kind of donation, sponsorship or grant. You can be a one-time donor or make a commitment to an ongoing annual pledge.   You may also want to consider sponsoring a specific exhibit and offer a gift in memory of a former Crawford County resident.  All donations, big and small, are welcome.</p>
            <p>If you would like to donate to the CCHS, you can do so online through paypal, or please send your check made payable to CCHS to: CCHS, 97 East Michigan Avenue, P.O. Box 218, Grayling, MI  49738</p>
            <div class='donate-container' id='donate-container'>
                <input placeholder='Enter Donation Amount' id='donate-amount' type='number' min="0.00" max="10000.00" step="0.01"/>
                <div id="paypal-button-container"></div>
            </div>
        </div>
    </div>
    
    
    <!--Foundation Fund-->
    <div class="row body-content foundation-fund">
        <div class="col-xs-12">
            <h3>Donate to the long-term success of the Historical Society and Museum</h3>
        </div>
        <div class="col-xs-12">
            <p>The Crawford County Historical Society Foundation Fund was established in 2009.  It was created to provide long-term financial support for  the historical society and museum.  Donations to the fund are invested in a larger fund called the Community Foundation for Northeast Michigan.  Donations can be made in the following manner:</p>
            <ul>
                <li>Outright gifts of cash, securities, real estate and/or personal property</li>
                <li>Bequests by will of cash or property</li>
                <li>Life insurance naming the Foundation Fund as the beneficiary and owner</li>
                <li>Memorial tributes in honor of a friend or loved one</li>
                <li>Private foundation transfer</li>                
            </ul>
            <p>If you would like to make a contribution, checks can be made payable to the Crawford County Historical Society Foundation Fund (or CCHSFF).  Send your donation to:  Community Foundation for Northeast Michigan, 111 Water Street, P.O. Box 495, Alpena, Michigan 49707</p>
        
        </div>
       
    </div>

</div>
