.membership-hero{
    background-image: url("/~cering/assets/img/MembershipHero.jpg");
    background-position: 3% 68%;
    background-size: 102%;
}


.promo-group p{
    min-height:50%;
}

.membership{
    background-color:rgb(66,106,175);
    color:white;
}

.donations{
    background-color:rgb(255,193,81);
}

.foundation-fund{
    background-color:rgb(66,106,175);
    color:white;
}

.membership, .donations, .foundation-fund{
    margin-top:15px;
    padding:15px 30px 30px 30px;
}

@media(max-width:480px){
    .membership, .donations, .foundation-fund{
        margin-right:-15px;
        margin-left:-15px;
        margin-top:0px;
    }
    
    .membership{
        margin-top:3%;
    }
    
    .footer{
        margin-top:0px;
    }
}

.donate-button{
        color: white;
    border: none;
    background-color: #EB4D4D;
}