<link rel="stylesheet" href="app/components/exhibits/exhibits.css">

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/~cering/#/" class="fa fa-home"></a></li>
                <li><a href="/~cering/#/exhibits">Exhibits</a></li>
                <li>AuSable River</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">AuSable River</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12 col-sm-8  exhibit-body">
            <p>The historical display of the famous Au Sable River reveals its uses from the early days of the Native Americans. Today, the AuSable attracts many who want to fish or canoe.  An original 1915 riverboat hangs suspended from the lobby ceiling, while photos of men who built and guided the riverboats are exhibited. </p>
            <img src="/~cering/assets/img/gallery/gallery9.jpg" />
            <img src="/~cering/assets/img/gallery/gallery8.jpg" />
            <p>A section of the display tells the story about the AuSable Canoe Marathon Race, which began in 1947. Today, the race is an international event.</p>
            <img src="/~cering/assets/img/gallery/gallery7.jpg" />
        </div> 
        <ng-include src="'/~cering/app/components/exhibits/exhibits-right-rail.html'"></ng-include>
    </div>
</div>

