<link rel="stylesheet" href="app/components/exhibits/exhibits.css">

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/#/" class="fa fa-home"></a></li>
                <li><a href="/#/exhibits">Exhibits</a></li>
                <li>THE RIVER & AVALANCHE ROOM</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">THE RIVER & AVALANCHE ROOM</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12 col-sm-8  exhibit-body">
            <p>The south room on the first floor was originally the baggage room of the depot. Now we have concentrated our collection of photos and artifacts in this room, featuring and original riverboat crafted by Henry Stephan in 1915, using Rube Babbitt’s design. Rube Babbitt was Michigan’s first Conservation Officer. He was active in the community as a river guide, fisherman, hunter and was the original designer of the AuSable River Boat.<br>
                The west end of the old baggage room holds the Avalanche display, featuring a Chandler & Price jobber press donated by the Avalanche, a collection of antique typewriters, photos, and cabinets full of letterpress type.
                </p>
        </div> 
        <ng-include src="'/app/components/exhibits/exhibits-right-rail.html'"></ng-include>
    </div>
</div>

