<link rel="stylesheet" href="app/components/exhibits/exhibits.css">

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/#/" class="fa fa-home"></a></li>
                <li><a href="/#/exhibits">Exhibits</a></li>
                <li>Exhibits adjacent to the Depot</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">Exhibits adjacent to the Depot</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12 col-sm-8 exhibit-body">
            <h3>Railroad Caboose</h3>
            <p>Adjacent to the museum is a 1929 railroad caboose.  Walk inside and see how it served as the "home away from home" for the train crewmen.   This caboose racked up thousands of miles while making the Detroit to Mackinaw run for many years.</p>
            <h3>Museum Annex</h3>
            <p>The Museum Annex (small white building) was built in the 1870s.  It was the first schoolhouse in Grayling. It later became the Township Hall. It now houses an impressive military display dating back to the Civil War. Included are displays depicting a typical barracks and supply room.</p>
            <p>The Annex also contains a photo display of the history of Camp Grayling, a National Guard facility. The camp began in 1913 through a gift of land from local lumber baron, Rasmus Hanson.  Today, Camp Grayling Military Installation is the largest National Guard Training facility in the U.S.  It spans 147,000 acres in Crawford, Kalkaska and Otsego Counties.  </p>
            <h3>Fire Hall</h3>
            <p>The fire hall in the museum complex, constructed by members of the Grayling City and Township Fire Departments, houses two fire engines. The 1922 Model T Ford is said to be the first ever used at Camp Grayling and is on permanent loan to the museum from the 746th Battalion. Sgt. Major Chris Beauchamp and Sgt. First Class Terry Rood were instrumental in reconditioning the vehicle. The 1937 Chevy fire truck is a Champion Fire Engine made by W.S. Darley and Co., of Chicago. It was the city's first fire truck. </p>
            <h3>Trapper’s Cabin</h3>
            <p>The museum also includes a small rustic trapper's cabin, which was built in the 1800s by a trapper living in Houghton Lake. You can see various pelts and tools inside and find out how the cabin was furnished to help the trapper survive during the cold winter months.</p>
            <h3>Agricultural Barn</h3>
            <p>The agricultural barn houses many farm implements from the early years of Crawford County.  Pictures depict many of the earliest farms from the area. There is also an eye-catching cutter that is over 100 years old and a 1949 tractor, both of which are on loan to the museum. Crawford County is not an agricultural area, in spite of the glowing reviews given to it in the early years of settlement. Practically all of the farms are no longer in existence.</p>

            
        </div> 
        <ng-include src="'/app/components/exhibits/exhibits-right-rail.html'"></ng-include>
    </div>
</div>

