<div class="col-xs-12 col-sm-3 col-sm-offset-1 right-rail">
            <h3>Museum Exhibits</h3>
            <ul>
                <li><a ng-class="{active:currentPage==='/#/exhibits/ticket-office'}" href="/#/exhibits/ticket-office">Train Room and Lobby</a></li>
                <li><a ng-class="{active:currentPage==='/#/exhibits/lumbermans-tools'}"  href="/#/exhibits/lumbermans-tools">Lumbering In Grayling</a></li>
                <li><a ng-class="{active:currentPage==='/#/exhibits/ausable-river'}"  href="/#/exhibits/ausable-river">The River &amp; Avalanche Room</a></li>
                <li><a ng-class="{active:currentPage==='/#/exhibits/fishing-in-grayling'}"  href="/#/exhibits/fishing-in-grayling">Law Enforcement</a></li>
                <li><a ng-class="{active:currentPage==='/#/exhibits/life-in-grayling'}"  href="/#/exhibits/life-in-grayling">Life in the County</a></li>
                <li><a ng-class="{active:currentPage==='/#/exhibits/fred-bear-exhibit'}"  href="/#/exhibits/fred-bear-exhibit">Fred Bear Exhibit</a></li>
                <li><a  ng-class="{active:currentPage==='/#/exhibits/exhibits-adjacent-depot'}" href="/#/exhibits/exhibits-adjacent-depot">Exhibits Adjacent to the Depot</a></li>
                <li><a  ng-class="{active:currentPage==='/#/exhibits/museum-gift-shop'}" href="/#/exhibits/museum-gift-shop">Museum Gift Shop</a></li>
            </ul>
        </div>