.museum-hero{
    background-image: url("/assets/img/gallery/gallery1.jpg");
    background-position: 100% 43%;
    
}

#see-more{
    list-style-type:none;
}

.image-right{
    float:right;
    width:20%;
}

.image-left{
    float:left;
    width:20%;
}

.image-center{
    width:50%;
    margin:bottom:
}

.section-rule{
    color:#d6d6d6;
}

.exhibit-links>div{
    text-align:center;
    margin-top:30px;
}



.exhibit-body img{
    float:left;
    width:45%;
    margin: 10px 2.5% 20px 2.5%;
}

@media (max-width:767px){
    .exhibit-body img{
        width:100%;
        margin: 10px 0px 20px 0px;
    }
}

.right-rail{
    border:3px solid #d6d6d6;
    padding:0px;
    background-color:rgba(214,214,214,0.3);
}

.right-rail h3{
    background-color:#FFC151;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

.right-rail ul{
    list-style-type:none;
}

.right-rail ul li{
    margin:10px 0px;
}

.right-rail ul li a{
    color:black;
    font-size:16px;
}

.right-rail ul li a.active{
    text-decoration:underline;
    cursor:default;
    pointer-events:none;
}

/*.body-content a img{
    width:80%;
    
    
}*/


.exhibit-links>div>a>div{
    border:5px solid #797f89;
    width:100%;
    height:250px;
    background-size:cover;
    background-position:center center;
}

.ticket-office{
    background-image: url('/assets/img/exhibits/ticket-office.jpg')
}

.lumbermans-tools{
    background-image: url('/assets/img/exhibits/lumbermans-tools.jpg')
}

.ausable-river{
    background-image: url('/assets/img/exhibits/ausable-river.jpg')
}

.fishing-in-grayling{
    background-image: url('/assets/img/exhibits/fishing-in-grayling.jpg')
}

.life-in-grayling{
    background-image: url('/assets/img/exhibits/life-in-grayling.jpg');
    background-position: 100% 17% !important;
}

.fred-bear-exhibit{
    background-image: url('/assets/img/exhibits/fred-bear-exhibit.jpg')
}

.exhibits-adjacent{
    background-image: url('/assets/img/exhibits/exhibits-adjacent.jpg');
    background-size:112% !important;
}

.museum-gift-shop{
    background-image: url('/assets/img/exhibits/museum-gift-shop.jpg')
}


