<link rel="stylesheet" href="app/components/exhibits/exhibits.css">

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/#/" class="fa fa-home"></a></li>
                <li><a href="/#/exhibits">Exhibits</a></li>
                <li>Exhibits adjacent to the Depot</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">Exhibits adjacent to the Depot</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12 col-sm-8 exhibit-body">
            <h3>The Caboose</h3>
            <p>Adjacent to the museum, the caboose, retired from service in 1929, served as the “home away from home” for the train crewmen. Complete with bunks, icebox, mini-kitchen, water closet, and storage for personal items, it’s a reminder of the days when steam engines ruled the railroad tracks. The caboose racked up thousands of miles during its many years on the Detroit to Mackinaw run.</p>
            <h3>Military Annex</h3>
            <p>The military annex was built in the 1870s. It was the first schoolhouse in Grayling and later became the township hall. It was moved from its original location to what is now the city park. When the Crawford County Historical Society began the museum in 1972, it was located there in the city park in the old school/township hall. When the depot became available and the museum moved there, the old building was moved onto the property. Now the annex commemorates Crawford County veterans going back to the Civil War. You’ll find many historical photos and artifacts here, as well as the POW/MIA tribute.</p>
            <h3>Fire Hall</h3>
            <p>The fire hall in the museum complex, constructed by members of the Grayling City and Township Fire Departments, houses two fire engines. The 1922 Model T Ford is said to be the first ever used at Camp Grayling and is on permanent loan to the museum from the 746th Battalion. Sgt. Major Chris Beauchamp and Sgt. First Class Terry Rood were instrumental in reconditioning the vehicle. The 1937 Chevy fire truck is a Champion Fire Engine made by W.S. Darley and Co., of Chicago. It was the city's first fire truck. </p>
            <h3>Trapper’s Cabin</h3>
            <p>The museum also includes a small rustic trapper's cabin, which was built in the 1800s by a trapper living in Houghton Lake. You can see various pelts and tools inside and find out how the cabin was furnished to help the trapper survive during the cold winter months.</p>
            <h3>Farm Display</h3>
            <p>Dedicated to the memory of past Board President Jim Smith, the farm display is under the awning on the north side of the fire barn. Many old farm implements are displayed here, including a 1949 Massey-Harris Pony tractor and a hand-operated grain mill. This display was made possible by donations from the community and through the generosity and work of Weyerhaeuser, Great Lakes Energy, SMK Construction, Milliken’s Excavating and the Michigan Economic Development Corporation. Our grateful thanks go out to all of them. </p>
            

            
        </div> 
        <ng-include src="'/app/components/exhibits/exhibits-right-rail.html'"></ng-include>
    </div>
</div>

