<link rel="stylesheet" href="app/components/exhibits/exhibits.css">

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/#/" class="fa fa-home"></a></li>
                <li><a href="/#/exhibits">Exhibits</a></li>
                <li>Fishing in Grayling</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">Fishing in Grayling</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12 col-sm-8 exhibit-body">
            <p>Grayling was named after a fish, which was abundant in the cold, clear waters of the AuSable. Back in the mid-1800s, men came from Europe and Scandinavia to fish for the well-known grayling.  They were guided by men like Rube Babbitt Sr. and Chief Shoppenagon. Later, trout became the primary fish that attracted tourists from near and far.  </p>
            <p>As early as 1914, local sportsmen began the Fish Hatchery to restock trout in the nearby streams. It was the forerunner of modern fisheries management. The Fish Hatchery has now been restored and trout are being raised there specifically for the visitor to view. The hatchery is operated by the Grayling Recreation Authority.</p>
            <img src="/assets/img/gallery/gallery4.jpg" />
            <img src="/assets/img/gallery/gallery5.jpg" />
            <img src="/assets/img/gallery/gallery6.jpg" />
        </div> 
        <ng-include src="'/app/components/exhibits/exhibits-right-rail.html'"></ng-include>
    </div>
</div>

