<link rel="stylesheet" href="app/components/exhibits/exhibits.css">

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/#/" class="fa fa-home"></a></li>
                <li><a href="/#/exhibits">Exhibits</a></li>
                <li>Fred Bear Exhibit</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">Fred Bear Exhibit</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12 col-sm-8 exhibit-body">
            <p>The DNR room holds photos of the winter sports park, which is now called Hanson Hills. One can see the snow train, which would bring thousands of enthusiasts from Detroit to the park for a fun-filled weekend of winter sports. There is also a showcase displaying winter carnival and snow queen memorabilia. Today, Hanson Hills still offers skiing, tubing and snowshoeing, as well as summer sports.</p>
            <img src="/assets/img/gallery/gallery21.jpg" />
            <img src="/assets/img/gallery/gallery22.jpg" />
            <img src="/assets/img/gallery/gallery23.jpg" />
        </div> 
        <ng-include src="'/app/components/exhibits/exhibits-right-rail.html'"></ng-include>
    </div>
</div>

