<link rel="stylesheet" href="app/components/exhibits/exhibits.css">

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/#/" class="fa fa-home"></a></li>
                <li><a href="/#/exhibits">Exhibits</a></li>
                <li>FRED BEAR EXHIBIT</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">FRED BEAR EXHIBIT</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12 col-sm-8 exhibit-body">
            <p>The museum’s collection of Fred Bear bows, photos, and a few critters, is at the top of the stairs. You can’t miss it!</p>

        </div> 
        <ng-include src="'/app/components/exhibits/exhibits-right-rail.html'"></ng-include>
    </div>
</div>

