<link rel="stylesheet" href="app/components/exhibits/exhibits.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12  hero museum-hero">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/~cering/#/" class="fa fa-home"></a></li>
                <li>Exhibits</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">Crawford County Historical Museum Exhibits</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>

    
    <div class="row body-content exhibit-links">
        <p>Take a nostalgic trip back in time to the turn of the century and see what life was like in the quaint town of Grayling.  Visit Grayling’s restored Passenger Freight Depot, which was built in 1882. In its heyday, the Grayling Depot Station had seven northbound passenger trains and five southbound trains make a stop daily to pick up passengers.  In addition, many freight trains passed by.</p>
        <div class="col-xs-12 col-sm-4">
            <a href="/~cering/#/exhibits/ticket-office">
                <img src="assets/img/gallery/gallery2.jpg" />
                <h3>Ticket Office</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/~cering/#/exhibits/lumbermans-tools">
                <img src="assets/img/gallery/gallery9.jpg" />
                <h3>Lumberman’s Tools</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/~cering/#/exhibits/ausable-river">
                <img src="assets/img/gallery/gallery13.jpg" />
                <h3>AuSable River</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/~cering/#/exhibits/fishing-in-grayling">
                <img src="assets/img/gallery/gallery27.jpg" />
                <h3>Fishing in Grayling</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/~cering/#/exhibits/life-in-grayling">
                <img src="assets/img/gallery/gallery22.jpg" />
                <h3>Life in Grayling</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/~cering/#/exhibits/hanson-hills">
                <img src="assets/img/gallery/gallery2.jpg" />
                <h3>Hanson Hills</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/~cering/#/exhibits/exhibits-adjacent-depot">
                <img src="assets/img/gallery/gallery2.jpg" />
                <h3>Exhibits adjacent to the Depot</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/~cering/#/exhibits/museum-gift-shop">
                <img src="assets/img/gallery/gallery2.jpg" />
                <h3>Museum Gift Shop</h3>
            </a>
        </div>

    </div>
</div>
