<link rel="stylesheet" href="app/components/exhibits/exhibits.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12  hero museum-hero">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/#/" class="fa fa-home"></a></li>
                <li>Exhibits</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">Crawford County Historical Museum Exhibits</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>

 <div class="container-fluid">   
    <div class="row body-content exhibit-links">
        <p>Take a nostalgic trip back in time to the turn of the century and see what life was like in the quaint town of Grayling.  Visit Grayling’s restored Passenger Freight Depot, which was built in 1882. In its heyday, the Grayling Depot Station had seven northbound passenger trains and five southbound trains make a stop daily to pick up passengers.  In addition, many freight trains passed by.</p>
        <div class="col-xs-12 col-sm-4">
            <a href="/#/exhibits/ticket-office">
                <div class="ticket-office"></div>
                <h3>TRAIN ROOM AND LOBBY</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/#/exhibits/lumbermans-tools">
                <div class="lumbermans-tools"></div>
                <h3>LUMBERING IN GRAYLING</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/#/exhibits/ausable-river">
                <div class="ausable-river"></div>
                <h3>THE RIVER & AVALANCHE ROOM</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/#/exhibits/law-enforcement">
                <div class="law-enforcement"></div>
                <h3>LAW ENFORCEMENT</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/#/exhibits/life-in-grayling">
                <div class="life-in-grayling"></div>
                <h3>LIFE IN THE COUNTY</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/#/exhibits/fred-bear-exhibit">
                <div class="fred-bear-exhibit"></div>
                <h3>FRED BEAR EXHIBIT</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/#/exhibits/exhibits-adjacent-depot">
                <div class="exhibits-adjacent"></div>
                <h3>EXHIBITS ADJACENT TO THE DEPOT</h3>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/#/exhibits/museum-gift-shop">
                <div class="museum-gift-shop"></div>
                <h3>MUSEUM GIFT SHOP</h3>
            </a>
        </div>

    </div>
</div>
