<link rel="stylesheet" href="app/components/exhibits/exhibits.css">

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/~cering/#/" class="fa fa-home"></a></li>
                <li><a href="/~cering/#/exhibits">Exhibits</a></li>
                <li>Life in Grayling</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">Life in Grayling</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12 col-sm-8 exhibit-body">
            <p>Venture upstairs in the depot where separate rooms show life as it was for a trapper's wife, a seamstress, and a doctor. </p>
            <img src="/~cering/assets/img/gallery/gallery27.jpg" />
            <img src="/~cering/assets/img/gallery/gallery29.jpg" />
            <p>Rooms are also dedicated to the one-room schoolhouse, a grocery store, old-fashioned entertainment, Fred Bear memorabilia, a saloon, and a sheriff's display. Another room is furnished as a bunk room for the railroad crew, which was the original use of the second floor.</p>
            <img src="/~cering/assets/img/gallery/gallery28.jpg" />
            <img src="/~cering/assets/img/gallery/gallery34.jpg" />
            <img src="/~cering/assets/img/gallery/gallery0.jpg" />
            <img src="/~cering/assets/img/gallery/gallery21.jpg" />
            <img src="/~cering/assets/img/gallery/gallery31.jpg" />
            <img src="/~cering/assets/img/gallery/gallery19.jpg" />
        </div> 
        <ng-include src="'/~cering/app/components/exhibits/exhibits-right-rail.html'"></ng-include>
    </div>
</div>

