<link rel="stylesheet" href="app/components/exhibits/exhibits.css">

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/#/" class="fa fa-home"></a></li>
                <li><a href="/#/exhibits">Exhibits</a></li>
                <li>Lumberman's Tools</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">Lumberman's Tools</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12 col-sm-8 exhibit-body">
            <p>From the ticket window, you can view the tools of the lumberman and see photos of his work.  This reflects an era when Grayling had great fame as a leading lumbering center. Many of the early buildings in this nation were constructed with pine wood from forests around this area.</p>
            <img src="/assets/img/gallery/gallery16.jpg" />
            <img src="/assets/img/gallery/gallery17.jpg" />
            <img src="/assets/img/gallery/gallery18.jpg" />
         </div> 
        <ng-include src="'/app/components/exhibits/exhibits-right-rail.html'"></ng-include>
    </div>
</div>

