<link rel="stylesheet" href="app/components/exhibits/exhibits.css">

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/#/" class="fa fa-home"></a></li>
                <li><a href="/#/exhibits">Exhibits</a></li>
                <li>LUMBERING IN GRAYLING</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">LUMBERING IN GRAYLING</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12 col-sm-8 exhibit-body">
            <p>The big center room downstairs features our collection of photos and artifacts from the Salling & Hanson offices and other lumbering interests and tools. The Skingley dollhouse is still here as well as an historical kitchen corner.</p>
            <div ng-repeat="n in range(1, 4)">
                <img src='/assets/img/gallery/lumber/img{{n}}.JPG'>
              </div>
         </div> 
        <ng-include src="'/app/components/exhibits/exhibits-right-rail.html'"></ng-include>
    </div>
</div>

