<link rel="stylesheet" href="app/components/exhibits/exhibits.css">

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/#/" class="fa fa-home"></a></li>
                <li><a href="/#/exhibits">Exhibits</a></li>
                <li>Museum Gift Shop</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">Museum Gift Shop</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12 col-sm-8  exhibit-body">
            <p>Purchases can be made at the gift shop located in the lobby of the depot. There are many railroad and depot items to choose from, as well as limited-edition prints of famous historic locomotives and train cars created by well-known local artists.</p>
            <p>Personnel at the museum are volunteers who are enthusiastic about the history of this area and will answer any questions they can about the early years. The museum is operated on the basis of donations, receiving no funds from any unit of government.</p>
            <p>The membership fee in the Historical Society is an important source of funding. New members are welcome and will be contributing to the repair and restoration of the buildings and to the further development of displays at the museum site.</p>
            
        </div> 
        <ng-include src="'/app/components/exhibits/exhibits-right-rail.html'"></ng-include>
    </div>
</div>

