<link rel="stylesheet" href="app/components/exhibits/exhibits.css">

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/#/" class="fa fa-home"></a></li>
                <li><a href="/#/exhibits">Exhibits</a></li>
                <li>The Ticket Office</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">The Ticket Office</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12 col-sm-8 exhibit-body">
            <p>The ticket office now contains the operations center of the museum, but you can still experience the ultimate thrill of purchasing a ticket for your first steam engine ride. The ticket window counter and grillwork have been left intact. </p>
            <img src="/assets/img/gallery/gallery2.jpg" />
        </div> 
        <ng-include src="'/app/components/exhibits/exhibits-right-rail.html'"></ng-include>
    </div>
</div>

