<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" data-ng-app="app" id="ng-app">

<head>
    <title>Crawford County Historical Society</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="ut-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">       
    <meta name="title" content="Crawford County Historical Society | Grayling, MI" />
    <meta name="description" content="Learn about the Crawford County Historical Museum & Society including exhibits and events. Located at the 1882 Train Depot in Grayling, Michigan." />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Crawford County Historical Society | Grayling, MI" />
    <meta property="og:description" content="Learn about the Crawford County Historical Museum & Society including exhibits and events. Located at the 1882 Train Depot in Grayling, Michigan." />
    <meta property="og:image" content="http://www-personal.umich.edu/assets/img/hero3.png" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97823676-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
    
    <link rel="shortcut icon" href="assets/img/favicon.ico">
   
    
    <!--CSS-->
    <link rel="stylesheet" href="assets/css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/angular-timeline.css" type="text/css">
    <link rel="stylesheet" href="assets/css/angular-timeline-animations.css" type="text/css">

    
    <!--JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-touch.min.js"></script>
    <script type="text/javascript" src="assets/js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="assets/js/angular-timeline.js"></script>
    <script type="text/javascript" src="assets/js/angular-scroll-animate.js"></script>
    <script type="text/javascript" src="assets/js/jquery.matchHeight.js"></script>
    
    
    <script src="app/app.js"></script>

    <!--Controllers-->
    
    <script type="text/javascript" src="app/components/history/historyController.js"></script>
    <script type="text/javascript" src="app/components/events/eventsController.js"></script>
    <script type="text/javascript" src="app/components/newsletters/newslettersController.js"></script>
    <script type="text/javascript" src="app/components/contact/contactController.js"></script>
    <script type="text/javascript" src="app/components/about/supportController.js"></script>
    <script type="text/javascript" src="app/components/exhibits/exhibitsController.js"></script>
    
    
    <!--Fonts-->
    <link rel="font" href="assets/fonts/fontawesome-webfont.woff">
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Pinyon+Script|Raleway|Cabin" rel="stylesheet">
    
     <base href="/">
    
    
</head>
<body >
    <!-- <div class='alert alert-success' style='margin-bottom: 0px; font-weight: bold; font-size: 18px;'>The Crawford County Historical Museum is closed for the season. The museum will reopen May&nbsp;23, 2025. See you then!</div> -->
    <nav class="navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand navbar-brand-mobile" href="/#/index">
                <p>Crawford County</p>
                <p>Historical Society</p>
            </a>
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <div class="fa fa-bars"></div>
            </button>
            
        </div>
        <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
            <ul class="nav navbar-nav navbar-left">
                <li ng-click="navCollapsed=true"><a class="navbar-brand" href="/#/index" ><p>Crawford County</p><p>Historical Society</p></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="navCollapsed=true"><a href="/#/about">About</a></li>
                <li ng-click="navCollapsed=true"><a href="/#/events">Events</a></li>
                <li ng-click="navCollapsed=true"><a href="/#/history">History</a></li>
                <li ng-click="navCollapsed=true"><a href="/#/exhibits">Exhibits</a></li>
                <li ng-click="navCollapsed=true"><a href="/#/newsletters">Newsletters</a></li>
                <li ng-click="navCollapsed=true"><a href="/#/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
         <div class="row" id="hero-lower">
         </div>
     </div>

    <div ng-view ng-controller="MainCtrl" autoscroll="true"></div>

    
    <div class="container-fluid footer">
        <div class="row" id="hero-lower">
         </div>
        <div class="row footer-upper">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footer-col">
                <h4 class="footer-title">Contact Us</h4>        
                <div class="contact-block">
                    <p><strong>Address: </strong></p>
                    <p>97 East Michigan Avenue<br>
                    P.O. Box 218<br>
                    Grayling, MI 49738<br></p>
                </div>
                <div class="contact-block">
                    <p><strong>Phone: </strong></p>
                    <p>989-745-3493</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footer-col">
                <h4 class="footer-title">Hours</h4>
                <div class="contact-block" style='text-align: center; display: flex; flex-direction: column'>
                    <p>Tuesday through Saturday
                      <br>10am - 4pm
                    </p>
                   
                    <!-- <strong>Closed for the season. See you on our opening day, Friday,&nbsp;May&nbsp;23.</strong><br><br> -->
                    
                    <!-- Donations gladly accepted online <a href='/#/about/support/'>here</a>. -->
                </div>

                <!-- <p>Sign up for our newsletter!</p>
                <form role="form" method="post" action="newsletter.php">
                    <div class="form-group">
                        <label for="email">Your Email:</label>
                        <input type="email" class="form-control" name="email" id="email">
                    </div>
                    <input type="hidden" name="url" id="url" value="{{url}}">
                    <input type="submit" name="submit" id="submit" class="btn orange" value="Submit">
                </form> -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footer-col">
                <h4 class="footer-title">Donate Now</h4>   
                <div class='donate-container' id='donate-container' style='margin: 0 auto'>
                    <input placeholder='Enter Donation Amount' id='donate-amount' type='number' min="0.00" max="10000.00" step="0.01"/>
                    <div id="paypal-button-container-index"></div>
                </div>
                <!-- <h4 class="footer-title">Share Us</h4>                
                    <div class="col-xs-6 social-icon facebook-icon" >
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.crawfordcountyhistoricalsociety.com%2F&amp;src=sdkpreparse">
                        <span class="fa-stack icon-github">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x"></i>
                        </span>
                        </a>
                    </div>

                
                <div class="col-xs-6 social-icon twitter-icon">
                    <a href="https://twitter.com/intent/tweet?text=We%20have%20lots%20for%20you%20to%20experience%20at%20the%20Crawford%20County%20Historica%20Museum.%20%20Visit%20our%20website%20to%20learn%20more%3A%20&url=http%3A%2F%2Fwww.crawfordcountyhistoricalsociety.com" target="_blank">
                        <span class="fa-stack icon-github">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                    </a>
                </div>
                <div class="col-xs-6 social-icon linkedin-icon">
                    <a href="http://www.linkedin.com/shareArticle?mini=true&url=www.crawfordcountyhistoricalsociety.com&title=Crawford%20County%20Historical%20Society%20%7C Grayling,MI&summary=We%20have%20lots%20for%20you%20to%20experience%20at%20the%20Crawford%20County%20Historica%20Museum.%20%20Visit%20our%20website%20to%20learn%20more%3A%20http%3A%2F%2Fwww.crawfordcountyhistoricalsociety.com" target="_blank">
                        <span class="fa-stack icon-github">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x"></i>
                        </span>
                    </a>    
                </div>
                <div class="col-xs-6 social-icon email-icon">
                    <a href="mailto:?Subject=Check%20out%20Our%20History%20%E2%80%93%20We%20have%20a%20lot%20to%20Offer&body=From%20Native%20American%20artifacts%20to%20full-blown%20exhibits%20about%20our%20troops%20at%20Camp%20Grayling%2C%20we%20have%20lots%20for%20you%20to%20see%20and%20experience%20at%20the%20Crawford%20County%20Historical%20Society%20Museum.%20%20%0ASign%20up%20to%20receive%20our%20quarterly%20digital%20newsletter%20delivered%20right%20to%20your%20inbox.%20You%27ll%20get%20the%20latest%20news%20on%20new%20exhibits%2C%20events%2C%20and%20the%20benefits%20of%20becoming%20a%20member.%20%20%0AVisit%20our%20website%20to%20learn%20more%3A%20http%3A%2F%2Fwww.crawfordcountyhistoricalsociety.com">
                        <span class="fa-stack icon-github">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x"></i>
                        </span>
                    </a>
                </div> -->
            </div>
        </div>
        <!--<div class="row text-right footer-lower">

            <div class="col-xs-12">Designed and Developed by <a href="courtney-ring.com">Courtney Ring</a></div>
        </div>-->
    </div>
    

    
    <script src="https://www.paypal.com/sdk/js?client-id=AbSE8jCIdvBWHS47YcRlDqXc8yOc0Ua9djAqbdz4UWVQgONOzrR1IUrPZsvKMQIepRzBf35GuH81GTLP&currency=USD&components=buttons,funding-eligibility"></script>
    <script type="text/javascript" src="assets/js/scripts.js"></script>
    
</body>
</html>