<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<html ng-app="app">
<head>
    <title>Crawford County Historical Society</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="ut-8" />
    
    <!--CSS-->
    <link rel="stylesheet" href="assets/css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <!--<link rel="stylesheet" href="assets/css/jquery.fancybox.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="assets/css/jquery.fancybox-thumbs.css" type="text/css" media="screen" />-->
    <link rel="stylesheet" href="assets/css/angular-timeline.css" type="text/css">
    <link rel="stylesheet" href="assets/css/angular-timeline-animations.css" type="text/css">

    
    <!--JavaScript-->
    <!--<script src="assets/js/jquery-1.12.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-touch.min.js"></script>
    <script type="text/javascript" src="assets/js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <!--<script type="text/javascript" src="assets/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="assets/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="assets/js/jquery.fancybox-buttons.js"></script>
    <script type="text/javascript" src="assets/js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="assets/js/jquery.fancybox-thumbs.js"></script>-->
    <script type="text/javascript" src="assets/js/angular-timeline.js"></script>
    <script type="text/javascript" src="assets/js/angular-scroll-animate.js"></script>
    <script src="app/app.js"></script>

    <!--Controllers-->
    <script type="text/javascript" src="app/components/museum/gallery/galleryController.js"></script>
    <script type="text/javascript" src="app/components/events/eventsController.js"></script>
    <script type="text/javascript" src="app/components/history/historyController.js"></script>
    <script type="text/javascript" src="app/components/museum/exhibits/exhibitsController.js"></script>
    <script type="text/javascript" src="app/components/events/editController.js"></script>
    
    <!--Fonts-->
    <link rel="font" href="assets/fonts/fontawesome-webfont.woff">
    
     <base href="/~cering/#/">
    
</head>
<body ng-controller="MainCtrl">
    <nav class="navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <div class="fa fa-bars"></div>
            </button>
            
        </div>
        <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
            <ul class="nav navbar-nav navbar-left">
                <li ng-click="navCollapsed=true"><a class="navbar-brand" href="/~cering/#/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="navCollapsed=true"><a href="/~cering/#/about">About</a></li>
                <li ng-click="navCollapsed=true"><a href="/~cering/#/history">History</a></li>
                <li ng-click="navCollapsed=true"><a href="/~cering/#/museum">Museum</a></li>
                <!--<li class="btngroup" dropdown is-open="status.isopen">
                    <a href="/museum" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                        Museum <span class="caret"></span></a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="/museum/exhibits">Exhibits</a></li>
                    </ul>
                </li>-->
                <!-- Sub Nav Option: Mobile -->
                <!--<li class="sub-nav"><a href="/museum/exhibits">Exhibits</a></li>-->
                <li ng-click="navCollapsed=true"><a href="/~cering/#/membership">Support</a></li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
         <div class="row" id="hero-lower">
         </div>
     </div>

    <div ng-view></div>

    
    <div class="container-fluid footer">
        <!--<hr class="footer-rule">-->
        <div class="row" id="hero-lower">
         </div>
        <div class="row footer-upper">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footer-col">
                <h4 class="footer-title">Contact Us</h4>        
                <form role="form" method="post" onsubmit="successMessage()" action="mailer.php">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="name" id="name">
                            </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" id="email">
                            </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea name="message" class="form-control" rows="5" id="message"></textarea>
                    </div>
                    <input type="submit" name="submit" id="submit" class="btn btn-default" value="Send">
                </form>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footer-col">
                <h4 class="footer-title">Visit Us</h4>
                <p>000 Street Name, City, State Zip</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2837.8505399802743!2d-84.71720358452075!3d44.66140519466946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882011411ddf3bef%3A0x22e70df983887b6!2sCrawford+County+Historical+Museum!5e0!3m2!1sen!2sus!4v1460861055692" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footer-col">
                <h4 class="footer-title">Share Us</h4>                
                    <div class="col-xs-6 social-icon facebook-icon">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=courtney-ring.com">
                        <span class="fa-stack fa-lg icon-github">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x"></i>
                        </span>
                        </a>
                    </div>
                <div class="col-xs-6 social-icon twitter-icon">
                    <a href="http://twitter.com/home?status=Test">
                        <span class="fa-stack fa-lg icon-github">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                    </a>
                </div>
                <div class="col-xs-6 social-icon linkedin-icon">
                    <a href="http://www.linkedin.com/shareArticle?mini=true&url=courtney-ring.com&title=Test&summary=test">
                        <span class="fa-stack fa-lg icon-github">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x"></i>
                        </span>
                    </a>    
                </div>
                <div class="col-xs-6 social-icon email-icon">
                    <a href="mailto:?Subject=Visit%20the%20Crawford%20County%20Historical%20Museum&body=Visit%20http://www.grayling-area.com/%20for%20more%20details">
                        <span class="fa-stack fa-lg icon-github">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row text-right footer-lower">
            <div class="col-xs-12">Designed and Developed by <a href="courtney-ring.com">Courtney Ring</a></div>
        </div>
    </div>


    <script type="text/javascript" src="assets/js/scripts.js"></script>

</body>
</html>