.history-hero{
    background-image: url("/assets/img/TimelineHero.jpg");
    background-position: 100% 58%;
    background-size: 102%;
}

.timeline li timeline-badge.info{
    background-color: #426AAF !important;
}

.timeline-panel .timeline-heading h4{
    color:white;
}

.timeline timeline-event timeline-panel{
    background-color: #426AAF;
}

.timeline li timeline-panel:before{
    border-left: 15px solid #426AAF;
    border-right: 0 solid #426AAF;
}

.timeline li timeline-panel:after{
    border-left: 14px solid #426AAF;
    border-right: 0 solid #426AAF;
}