body{
    padding-left:0px;
    padding-right:0px;
    background-color:#f5f5f5;
}

.orange{
    background-color: #FFC151;
}

.blue{
    background-color: #426AAF;
}

/* Navbar */
.navbar{
    margin-bottom:0px;
    border-radius:0px;
    background-color:black;
    min-height:70px;
    color:white;
}

.navbar .nav .navbar-left{
    margin-top:0px;
}

.navbar .nav>li>a{
    text-shadow:none;
    color:white;
    font-size:18px;
    line-height:30px;
}

.navbar .navbar-right li a{
    line-height:60px;
}

.navbar-brand-mobile{
    display:none;
}

.navbar-brand{
    text-align: center;
    line-height: 30px;
    color:white;
}

.navbar-brand:focus, .navbar-brand:hover{
    color:white;
}

.navbar-brand>p{
    color:white;
}


.navbar-brand>p:nth-child(1){
    font-family: 'pinyon script', script;
    font-weight: bold;
    font-size: 31px;
    font-size: 30px;
    border-bottom: 1px solid white;
    margin-bottom: -2px;
}

.navbar-brand>p:nth-child(2){
    font-family: 'raleway',script;
    font-size: 18px;
}

.navbar-nav .nav .navbar-right{
    margin: 20px 10px 0px 0;
}

.navbar-nav .nav .navbar-right>li{
    border-right: 1px solid white;
}

.navbar-nav .nav .navbar-right>li>a{
    line-height:5px;
}


.fa-bars{
    color:white;
    font-size:28px
    
}



@media(max-width:767px){
    .navbar-nav{
        float:none !important;
    }

    .navbar .nav>li{
        float:none !important;
    }
    
    .navbar-collapse .navbar-left{
        display:none;
    }
    
    .navbar-brand-mobile{
        display:block;
        text-align:left;
        line-height: 27px;
    }

    .navbar-brand-mobile>p:first-child{
        border-bottom:0px;
        font-size:30px;

    }
    .navbar-brand-mobile>p:last-child{
        font-size:17px;
    }
}

/*Sub Nav*/

.btngroup:hover>.dropdown-menu {
  display: block;
}

.sub-nav{
    display:none;
}

.navbar .nav .dropdown-toggle .caret{
    border-top-color:white;
    border-bottom-color:white;
    margin-top:0px;
}


@media(max-width:480px){
    .dropdown-menu{
        display:hidden;
    }
    .sub-nav{
        display:block;
        margin-left:20%;
    }   
    .caret{
        display:none;
    }
}


/* Hero */
.hero{
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    height: 220px;
}

#hero{
    width:100%;
}

#hero-lower{
    background-color: #426AAF;
    height:20px;
}


/* Page Title */
.page-title{
    margin-left:5%;
    margin-top: 15px;
    color: #426AAF;
}

.page-title-rule{
    margin-left: 4%;
    margin-right: 5%;
    border: 1px solid #d6d6d6;
}

.body-content{
    margin-left:8.3333%;
    margin-right:8.3333%;

}

@media(max-width:480px){
    .body-content{
    margin-left:0px;
    margin-right:0px;

    }
}

/*Fonts*/
p, a, h1, h2, h3, h4, h5, h6, li{
    font-family:'Cabin', Arial;
}

p{
    font-size:16px;
}

h1{
    font-weight:bold;
}

@media(max-width:480px){
    h1{ 
        font-size: 25px;
    }
}

h4{
    font-weight:700;
}


/*Footer*/
.footer{
    background-color:black;
    color:white;
    margin-top:5%;
}

.footer-upper{
    display: flex;
    justify-content: space-between;
    padding-bottom:25px;
}

.footer-lower{
    padding-bottom:1%;
    padding-right:2%;
    font-size:16px;
}

.footer-lower>div{
    margin-top:-30px;
}

.footer-col{
    padding-left:4%;
    padding-right:4%;
}

.footer-col:first-child {
    align-self: flex-start;
}

.footer-col:last-child {
    align-self: flex-end;
}

.footer-col form #submit{
    margin-top: 10px;
}

.footer-col>p{
    text-align:left;
}

.contact-block{
    /* margin:0 35px; */
}

.contact-block>p{
    display:inline-block;
    margin-left:10px;
    vertical-align:text-top;
}

.footer-title{
    font-size: 20px;
    text-align:center;
    color:white;
    margin-bottom:25px;
}

.footer-rule{
    border-top: 1px solid grey;
    margin-left: 5%;
    margin-right: 5%;
}

iframe{
    width:100%;
    height:215px;
}

.social-icon{
    font-size:30px;
}

.facebook-icon, .facebook-icon>a{
    text-align:right;
    color:#3b5998;
    padding-right:0px;
}

.linkedin-icon, .linkedin-icon>a{
    text-align:right;
    color:#007bb5;
    padding-right:0px;
}

.twitter-icon, .twitter-icon>a{
    text-align:left;
    color:#55acee;
    padding-left:0px;
}

.email-icon, .email-icon>a{
    text-align:left;
    color:#a5abaf;
    padding-left:0px;
}


.fa-stack-1x {
    color: white;
}

[class^="icon-"], [class*=" icon-"]{
    background-image:none;
}

.form-group{
    margin-bottom:8px;
}

@media(max-width:767px){
    .footer-upper > .footer-col:nth-child(3){
        padding-bottom:13%
    }
}


.large-icon{
    font-size:71px;
    margin-top: 15%;
    color:black;
}

.small-arrow{
    font-size:18px;
}

.click-here{
    color: black;
    font-size: 14px;
    font-weight: 900;
}


.form-control{
    padding:0px;
    line-height:1;
}

.form-group{
    margin-bottom:0px;
}

.breadcrumb{
    padding-left:5%;
    margin-bottom: 0px;
    padding-top: 20px;
    font-size:15px;
    margin-left:-30px
}

.breadcrumb ul li a:first-child{
    color:black;
}

.breadcrumb ul li{
    margin-left:10px;
    list-style:none;
    float:left;
}

.breadcrumb ul li:before{
    content: '\3009';
    margin-right: 5px;
}

.breadcrumb ul li:first-child:before{
    content:no-close-quote;
}