body{
    padding-left:0px;
    padding-right:0px;
}


/* Navbar */
.navbar{
    margin-bottom:0px;
    border-radius:0px;
    background-color:black;
    min-height:70px;
    color:white;
}

.navbar .nav .navbar-left{
    margin-top:0px;
}

.navbar .nav>li>a{
    text-shadow:none;
    color:white;
    font-size:18px;
    line-height:30px;
}

.navbar-brand-mobile{
    display:none;
}

.navbar-brand{
    text-align: center;
    line-height: 30px;
}

.navbar-brand>p:nth-child(1){
    font-family: 'pinyon script', script;
    font-weight: bold;
    font-size: 31px;
    font-size: 30px;
    border-bottom: 1px solid white;
    margin-bottom: -2px;
}

.navbar-brand>p:nth-child(2){
    font-family: 'raleway',script;
    font-size: 18px;
}

.navbar-nav .nav .navbar-right{
    margin: 20px 10px 0px 0;
}

.navbar-nav .nav .navbar-right>li{
    border-right: 1px solid white;
}

.navbar-nav .nav .navbar-right>li>a{
    line-height:5px;
}


.fa-bars{
    color:white;
    font-size:28px
    
}



@media(max-width:767px){
    .navbar-nav{
        float:none !important;
    }

    .navbar .nav>li{
        float:none !important;
    }
    
    .navbar-collapse .navbar-left{
        display:none;
    }
    
    .navbar-brand-mobile{
        display:block;
        text-align:left;
        line-height: 27px;
    }

    .navbar-brand-mobile>p:first-child{
        border-bottom:0px;
        font-size:30px;

    }
    .navbar-brand-mobile>p:last-child{
        font-size:17px;
    }
}

/*Sub Nav*/

.btngroup:hover>.dropdown-menu {
  display: block;
}

.sub-nav{
    display:none;
}

.navbar .nav .dropdown-toggle .caret{
    border-top-color:white;
    border-bottom-color:white;
    margin-top:0px;
}


@media(max-width:480px){
    .dropdown-menu{
        display:hidden;
    }
    .sub-nav{
        display:block;
        margin-left:20%;
    }   
    .caret{
        display:none;
    }
}


/* Hero */
.hero{
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    height: 220px;
}

#hero{
    width:100%;
}

#hero-lower{
    background-color: #426AAF;
    height:20px;
}


/* Page Title */
.page-title{
    margin-left:5%;
    margin-top:35px;
}

.page-title-rule{
    margin-left: 4%;
    margin-right: 5%;
    color: #d6d6d6;
}

.body-content{
    margin-left:8.3333%;
    margin-right:8.3333%;

}

@media(max-width:480px){
    .body-content{
    margin-left:0px;
    margin-right:0px;

    }
}

/*Fonts*/
@media(max-width:480px){
    h1{ 
        font-size: 25px;
    }
}


/*Footer*/
.footer{
    background-color:black;
    color:white;
    margin-top:5%;
}

.footer-upper{

}

.footer-lower{
    padding-bottom:1%;
    padding-right:2%;
    font-size:16px;
}

.footer-lower>div{
    margin-top:-30px;
}

.footer-col{
    padding-left:4%;
    padding-right:4%;
}

.footer-title{
    font-size: 20px;
    text-align:center;
    color:white;
}

.footer-rule{
    border-top: 1px solid grey;
    margin-left: 5%;
    margin-right: 5%;
}

iframe{
    width:100%;
    height:215px;
}

.social-icon{
    font-size:30px;
}

.facebook-icon, .facebook-icon>a{
    text-align:right;
    color:#3b5998;
    padding-right:2%;
    margin-top:5.5%;
}

.linkedin-icon, .linkedin-icon>a{
    text-align:right;
    color:#007bb5;
    margin-top:4%;
    padding-right:2%;
}

.twitter-icon, .twitter-icon>a{
    text-align:left;
    color:#55acee;
    padding-left:2%;
    margin-top:5.5%;
}

.email-icon, .email-icon>a{
    text-align:left;
    margin-top:4%;
    color:#a5abaf;
    padding-left:2%;
}


.fa-stack-1x {
    color: white;
}

.form-group{
    margin-bottom:8px;
}

/* Shared */
.promo-group{
    height: 271px;
}

.promo-1, .promo-2, .promo-3{
    color:black;
    height:100%;
}

.promo-1{
    background-color:#426AAF;
    margin-right: 1%;
    margin-left: 11.5%;
    color:black;
    /*padding-bottom:20px;*/
}

.promo-2{
    background-color:#FFC151;
    /*padding-bottom:6%;*/
}

.promo-3{
    margin-left: 1%;
    margin-right: 11.5%;
    background-color:#426AAF;
   /* padding-bottom:6%;*/
}

.large-icon{
    font-size:71px;
    margin-top: 15%;
    color:black;
}

.small-arrow{
    font-size:18px;
}

.click-here{
    color: black;
    font-size: 14px;
    font-weight: 900;
}


.form-control{
    padding:0px;
    line-height:1;
}

.form-group{
    margin-bottom:0px;
}
