<link rel="stylesheet" href="app/components/home/home.css">
<div class="container-fluid">
    <div class="row">
        <img id="hero" src="assets/img/hero4.png" />
        <h1 id="header">Crawford County<br>Historical Society</h1>
        <!--<a href="/about"><button id="cta-button" class="btn">Learn More</button></a>-->
    </div>
    <!--<div class="row mobile-hero">
        <h2>Crawford County Historical Society</h2>
        <h4>> Learn More</h4>
    
    </div>-->
</div>
<div class="container-fluid">
    <div class="row features text-center">

        <div class="col-xs-12 col-sm-12 col-md-4 feature">
            <span class="fa fa-camera"></span>
            <h1><a href="/history">Crawford County History</a></h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, n </p>
            <a href="/about"><strong>Our Museum.</strong></a>
            <hr class="hr">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 feature">

            <span class="fa fa-calendar"></span>
            <h1><a href="/">Museum Exhibits</a></h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis pa </p>
            <a href="/"><strong>Our Upcoming Events.</strong></a>
            <hr class="hr">
            

        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 feature feature-3">
            <span class="fa fa-group"></span>
            <h1><a href="/membership">Show Your Support</a></h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. D <p>
            <a href="/membership"><strong>Ways to Support Us.</strong></a>
        </div>
    </div>
</div>