<link rel="stylesheet" href="app/components/home/home.css">
<div class="container-fluid">
    <div class="row">
        <img id="hero" src="assets/img/hero3.png" />
        <h1 id="header">Crawford County<br>Historical Society</h1>
        <a href="/about"><button id="cta-button" class="btn">Learn More</button></a>
    </div>
    <div class="row mobile-hero">
    
    </div>
</div>
<div class="container-fluid">
    <div class="row features text-center">
        <div class="col-xs-12 col-sm-12 col-md-4 feature">
            <span class="fa fa-calendar"></span>
            <h1>Events</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 feature">
            <span class="fa fa-camera"></span>
            <h1>Gallery</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 feature">
            <span class="fa fa-group"></span>
            <h1>Membership</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede <p>
        </div>
    </div>
</div>