a{
    color:white;
}

.home-hero{
    background-image: url("/~cering/assets/img/hero3.png");
    background-position: 3% 68%;
    background-size: cover;
    height:500px;
}

@media(max-width:1200px){
    .home-hero{
        height:455px;
    }
}

@media(max-width:992px){
    .home-hero{
        height:325px
    }
}

@media(max-width:767px){
    .home-hero{
        height:275px
    }
}

@media(max-width:480px){
    .home-hero{
        height:200px
    }
}

#header{
    text-align: right;
    color: #FFC151;
    font-size:80px;
    margin-right:7%;
    margin-top:11%
}

@media(max-width:1200px){
    #header{
        font-size:60px;
    }
}

@media(max-width:992px){
    #header{
        font-size:50px;
    }
}

@media(max-width:767px){
    #header{
        margin-right:0px;
        text-align:center;
    }
}

@media(max-width:480px){
    #header{
        text-align:center;
        font-size:34px;
    }
}


#cta-button{
    top: 57%;
    right: 7%;
    position: absolute;
    background-color: #FFC151;
    font-size: 22px;
    padding-left: 3%;
    padding-right: 3%;
    color:black;
}

@media(max-width:1200px){
    #cta-button{
        top: 50%;
    }
}

@media(max-width:992px){
    #cta-button{
        top:40%;
    }
}

@media(max-width:768px){
    #cta-button{
        display:none;
    }
}

.mobile-hero{
    height:0px;
    text-align:center;
}

.mobile-hero>h4{
    background-color: black;
    color:white;
    margin-right: 40%;
    margin-left: 40%;
    border-radius: 20px;
    padding: 1%;

}

@media(max-width:768px){
    .mobile-hero{
        background-color: #FFC151;
        height:100px;
    }
    .mobile-hero>h2{
        font-size: 27px;
    }
    .mobile-hero>h4{
        margin-right:35%;
        margin-left:35%;
    }

}

@media(max-width:480px){
    .mobile-hero{
        background-color: #FFC151;
        height:85px;
    }
    .mobile-hero>h2{
        font-size: 18px;
    }
    .mobile-hero>h4{
        margin-right:32%;
        margin-left:32%;
        font-size:14px;
    }
}


.hr{
    visibility:hidden;
    color:white;
    margin-top:10%;
}

@media(max-width:992px){
    .hr{
        visibility:visible;
    }
}



.feature{
    background-color: #426AAF;   
    color:white;
    padding-left:3%;
    padding-right:3%;
}

@media(max-width:992px){
    .feature{
        padding-bottom:0px;
    }
}

.features{
    background-color: #426AAF;   
    padding-left:5%;
    padding-right:5%;
}

.feature .fa{
    font-size:40px;
    margin-top:10%;
}


.feature-3{
    padding-bottom:10%;
}

.feature a:hover{
    color:white;
    text-decoration:none;
}



.feature h4{
    font-weight: 700;
    text-decoration: underline;
 }


.footer{
    margin-top:0px;
}