<link rel="stylesheet" href="/~cering/app/components/home/home.css">
<div class="container-fluid">
    <div class="row home-hero">
        <h1 id="header">Crawford County<br>Historical Society</h1>
    </div>

</div>
<div class="container-fluid">
    <div class="row features text-center">
        
        <div class="col-xs-12 col-sm-12 col-md-4 feature">
            <a href="/~cering/#/history">
                <span class="fa fa-camera"></span>
                <h2>Crawford County History</h2>
                <p>Learn more about Crawford County including its important people, buildings, and industries through historical photographs and information.<br></p>
                <h4>Explore the Past.</h4>
                <hr class="hr">
            </a>
        </div>
       
        
        <div class="col-xs-12 col-sm-12 col-md-4 feature">
            <a href="/~cering/#/museum">
                <span class="fa fa-calendar"></span>
                <h2>Museum Exhibits</h2>
                <p>Our documents and artifacts showcase life in Crawford County through the ages including special exhibits for the AuSable River, Fish Hatchery, and Hanson Hills. </p>
                <h4>Learn about our showcases.</h4>
                <hr class="hr">
            </a>
        </div>
        
        
        <div class="col-xs-12 col-sm-12 col-md-4 feature">
            <a href="/~cering/#/about/support">
                <span class="fa fa-group"></span>
                <h2>Show Your Support</h2>
                <p>The museum is funded through donations, sponsorships, and grants. Find out ways you can help the museum from day-to-day operations to long term success.<p>
                <h4>Help our museum.</h4>
            </a>
        </div>
            
    </div>
</div>
<script>$(window).load(function(){
    $(".feature>p").matchHeight();
});</script>