<link rel="stylesheet" href="app/components/membership/membership.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12  hero membership-hero">
        </div>
    </div>
     <div class="row">
        <div class="col-xs-12">
            <h1 class="page-title">Support CCHS</h1>
            <hr class="page-title-rule">
        </div>
    </div>
    <div class="row body-content">
        <div class="col-xs-12">
            The Schuylkill County Historical Society exists for the benefit of those who want to take advantage of its diverse collections and opportunities to use its research materials. Every membership represents a belief in the Society’s commitment to preserving the history and data of Schuylkill County.
            <br><br>Become an important partner in the collection, preservation, exhibit and study of the history of Schuylkill County.
        </div>
    </div>
    <!--<div class="row body-content">
        <div class="col-xs-12">
            <h3>CCHS Membership</h3>
            <table>
                <tr>
                    <td>Senior</td>
                    <td>$5.00</td>
                </tr>
                <tr>
                    <td>Regular</td>
                    <td>$10.00</td>
                </tr>
                <tr>
                    <td>Family</td>
                    <td>$25.00</td>
                </tr>
                <tr>
                    <td>Supporting</td>
                    <td>$50.00</td>
                </tr>
                <tr>
                    <td>Room Sponsor</td>
                    <td>$75.00</td>
                </tr>
                <tr>
                    <td>Lifetime Membership</td>
                    <td>$1000.00</td>
                </tr>
            </table>
        </div>
    </div>-->
    <div class="row body-content text-center promo-group">
        <div class="col-xs-12 col-md-3 promo-1">
            <h3>CCHS Membership</h3>
            <hr>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
            <a class="click-here" href="#">Learn More  <i class="fa fa-arrow-circle-right small-arrow"></i></a>
        </div>
        <div class="col-xs-12 col-md-3 promo-2">
            <h3>CCHS Donations</h3>
            <hr>
            <p> Help with day-to-day operations and museum maintenance</p>
            <a class="click-here" href="#">Learn More  <i class="fa fa-arrow-circle-right small-arrow"></i></a>
        </div>
        <div class="col-xs-12 col-md-3 promo-3">
            <h3>CCHS Foundation Fund<br></h3>
            <hr>
            <p>Help with long-term support of the museum and investment for improvement</p>
            <a class="click-here" href="#">Learn More  <i class="fa fa-arrow-circle-right small-arrow"></i></a>
        </div>
    </div>
</div>
