<div class="container-fluid">
    <div class="row" ng-controller="editController">
        <div class="col-xs-12" ng-repeat="event in events">
            <p>{{event.name}}</p>
            <p>{{event.date}}</p>
            <p>{{$index}}</p>
            <button ng-click="removeEvent($index)">Remove</button>
            <br><br>
        </div>
        <div class="col-xs-12">
            <form ng-submit="addEvent()">
                Event Name:<br>
                <input type="text" ng-model="eventName"><br>
                Event Date:<br>
                <input type="text" ng-model="eventDate"><br>
                {{eventName}} - {{eventDate}}<br>
                <button type="submit">Add Event</button>
        </div>
        <div class="col-xs-12">
            <button ng-click="saveData()">Save</button>
            
        </div>
    </div>
    <a href="/events">Go To Events</a>
</div>