<link rel="stylesheet" href="app/components/events/events.css">
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12  hero events-hero">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="hidden-xs col-sm-12 breadcrumb">
      <ul>
        <li><a href="/#/" class="fa fa-home"></a></li>
        <li>Events</li>
      </ul>


    </div>
    <div class="col-xs-12">
      <h1 class="page-title">Events</h1>
      <hr class="page-title-rule">
    </div>
  </div>
  <div class='row body-content'>
    <div class='col-xs-12'>
      <div class='event'>
        <div class='event-icon'>
          <span>Oct&nbsp;</span>
          <span>5</span>
        </div>
        <div class='event-detail'>
          <a class='event-name' ref="https://graylingdepot.com" target="_blank">Grayling Depot Black Lager Fundraiser</a>
          <div class='event-desc'>at Rolling Oak Brewery</div>
          <div class='event-time'>Saturday, October 5 from 3pm to 10pm</div>
          <a class='event-link' href="https://graylingdepot.com" target="_blank">Read More</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="modal-container " ng-class="{show:showModal===true}" >
    <div class="modal-dialog">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showModal = false"><span
          aria-hidden="true">&times;</span></button>
      
      <div class="modal-body">
        <h2 class="modal-title">AuSable Flintknapping Demonstration</h2>
        <b>Date: Saturday, July 7</b>
        <b>Time: 1pm to 4pm</b>
        <b style="margin-bottom: 20px;">Location: Crawford County Historical Museum</b>
        <p>Watch Jeff McLain create arrowheads, knives and blades from flint, obsidian and glass using the flintknapping
          techniques of prehistoric indigenous inhabitants of Michigan</p>
          <img class="modal-image" src="/assets/img/flintknapping.jpeg" />
      </div>
    </div>
   
  </div> -->
</div>

</div>



<!-- <div class="modal">
<div class="container-fluid">
  <div class="row">
    <h1>AuSable FlintKnapping Demonstration</h1>
    <p>Location: Crawford County Historical Museum</p>
    <p>Time: Saturday July 27 from 1pm to 4pm</p>
    <p>Watch Jeff McLain create arrowheads, knives and blades from flint, obsidian and glass using the flintknapping
      techniques of prehistoric indigenous inhabitants of Michigan</p>
  </div>
</div>

</div> -->