.contact-hero{
    background-image: url("/assets/img/MichiganAve.png");
    background-position: 94% 57%;
    background-size: 110%;

}

.email-link {
    color: #426AAF;
    font-size: 18px;
}

.contact-link .fa-envelope {
    color: #426AAF;
    font-size: 19px;
    margin-right: 10px;
}

.contact-link {
    align-items: center;
    display: flex;
}

.donate-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

}

.donate-container > input {
    height: 31px;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 100%;
}

.fa-phone {
    font-size: 20px;
    margin-right: 5px;
}
