<link rel="stylesheet" href="app/components/contact/contact.css">


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12  hero contact-hero">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 breadcrumb">
            <ul>
                <li><a href="/#/" class="fa fa-home"></a></li>
                <li>Contact</li>
            </ul>
            
            
        </div>
        <div class="col-xs-12">
            <h1 class="page-title">Contact Us</h1>
            <hr class="page-title-rule">
        </div>
    
    </div>

</div>
<div class="container-fluid">
    <div class="row body-content">
        
        <div class="col-xs-12">
            <h3>Visit</h3>
        </div>
        <div class="col-xs-12 col-md-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2837.8505399802675!2d-84.71720358452077!3d44.66140519466946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882011411ddf3bef%3A0x22e70df983887b6!2sCrawford+County+Historical+Museum!5e0!3m2!1sen!2sus!4v1460244247057" width="300" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-md-3 museum-address">
            <p><strong>Address:</strong><br>
                97 East Michigan Avenue<br>
                P.O. Box 218<br>
                Grayling, MI 49738<br>
                989-745-3493<br><br>
                <a  class='email-link' href="mailto:cchsgrayling@gmail.com"><i class='fa fa-envelope'></i> Send us an email</a>
            </p>
        </div>
        <div class="col-xs-12 col-md-4 museum-address">
            <p><strong>Hours:</strong><br>
                <i>Closed for the season. See you on our opening day, Friday, May 23.</i><br><br>
                <!-- <p>Friday and Saturday
                  <br>Noon - 4pm
                </p> -->
                <!-- <p>Closed for the Memorial Day holiday</p> -->
                Donations gladly accepted online: 
            </p>
            <div class='donate-container' id='donate-container'>
                <input placeholder='Enter Donation Amount' id='donate-amount' type='number' min="0.00" max="10000.00" step="0.01"/>
                <div id="paypal-button-container"></div>
            </div>
            
        </div>
        
    </div>
    <!-- <div class="row body-content">
        <div class="col-xs-12">
            <h3>We want to hear from you:</h3>
        </div>
        <div class="col-xs-12 col-sm-6 contact-link">
            <i class='fa fa-envelope'></i> -->
            
            <!-- <form role="form" method="post">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="name" id="name">
                            </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" id="email">
                            </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea name="message" class="form-control" rows="5" id="message"></textarea>
                    </div>
                    <input type="hidden" name="url" id="url" value="{{url}}">
                    <input type="submit" name="submit" id="submit" class="btn btn-default" value="Send">
                    
                </form> -->
            
        <!-- </div>
        </div> -->
</div>
<!-- <script>
    console.log('testtest')
    paypal.Buttons({

      // Sets up the transaction when a payment button is clicked
      createOrder: function(data, actions) {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: '0.01' // Can reference variables or functions. Example: `value: document.getElementById('...').value`
            }
          }]
        });
      },

      // Finalize the transaction after payer approval
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(orderData) {
          // Successful capture! For dev/demo purposes:
              console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
              var transaction = orderData.purchase_units[0].payments.captures[0];
            //   alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

          // When ready to go live, remove the alert and show a success message within this page. For example:
          var element = document.getElementById('paypal-button-container');
          element.innerHTML = '';
          element.innerHTML = '<h3>Thank you for your payment!</h3>';
          // Or go to another URL:  actions.redirect('thank_you.html');
        });
      }
    }).render('#paypal-button-container');

  </script> -->