<link rel="stylesheet" href="app/components/museum/museum.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12  hero museum-hero">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-title">Crawford County Historical Museum</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>

    
    <div class="row body-content">
        <div class="col-xs-12">
            <p>Take a nostalgic trip back in time to the turn of the century and see what life was like in the quaint town of Grayling.  Visit Grayling’s restored Passenger Freight Depot, which was built in 1882. In its heyday, the Grayling Depot Station had seven northbound passenger trains and five southbound trains make a stop daily to pick up passengers.  In addition, many freight trains passed by.<br><br>
           
            </p>
        </div>
        <div class="col-xs-12 text-center">
             <img src="assets/img/exhibitsMain.png" class="image-center" />
            <hr class="page-title-rule">
        </div>
        
        <div class="col-xs-12 col-sm-8">
            <h3><a href='#'>The Ticket Office</a></h3>
            <p>The ticket office now contains the operations center of the museum, but you can still experience the ultimate thrill of purchasing a ticket for your first steam engine ride. The ticket window counter and grillwork have been left intact. <br><br>
                

            From the ticket window, you can view the tools of the lumberman and see photos of his work.  This reflects an era when Grayling had great fame as a leading lumbering center. Many of the early buildings in this nation were constructed with pine wood from forests around this area. <br><br><a href='#'>Read More</a></p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img src="assets/img/gallery/gallery2.jpg" />
        </div>
        <div class="col-xs-12">
            <hr class="section-rule">
        </div>
    </div>
    
    <div class="row body-content">
        <div class="col-xs-12 col-sm-4">
            <img src="assets/img/gallery/gallery9.jpg" />
        </div>
        <div class="col-xs-12 col-sm-8">
            <h3><a href='#'>The Au Sable River</a></h3>
            <p>The historical display of the famous Au Sable River reveals its uses from the early days of the Native Americans. Today, the AuSable attracts many who want to fish or canoe.  An original 1915 riverboat hangs suspended from the lobby ceiling, while photos of men who built and guided the riverboats are exhibited. 
            A section of the display tells the story about the AuSable Canoe Marathon Race, which began in 1947. Today, the race is an international event. <br><br>
            <a href='#'>Read More</a></p>
        </div>
        <div class="col-xs-12">
            <hr class="section-rule">
        </div>
    </div>
    
    <div class="row body-content">
        <div class="col-xs-12 col-sm-8">
            <h3><a href='#'>The Fish Hatchery</a></h3>
            <p>Grayling was named after a fish, which was abundant in the cold, clear waters of the Au Sable. Back in the mid 1800s, men came from Europe and Scandinavia to fish for the well-known grayling.  They were guided by men like Rube Babbitt Sr. and Chief Shoppenagon. Later, trout became the primary fish that attracted tourists from near and far. 
            As early as 1914, local sportsmen began the Fish Hatchery to restock trout in the nearby streams. It was the forerunner of modern fisheries management. The Fish Hatchery has now been restored and trout are being raised there specifically for the visitor to view. The hatchery is operated by the Grayling Recreation Authority.<br><br><a href='#'>Read More</a></p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img src="assets/img/gallery/gallery27.jpg" />
        </div>
        <div class="col-xs-12">
            <hr class="section-rule">
        </div>
    </div>
    
    <div class="row body-content">
        <div class="col-xs-12 col-sm-4">
            <img src="assets/img/gallery/gallery21.jpg" />
        </div>
        <div class="col-xs-12 col-sm-8">
            <h3><a href='#'>Life in Grayling</a></h3>
            <p>Venture upstairs in the depot where separate rooms show life as it was for a trapper's wife, a seamstress, and a doctor. Rooms are also dedicated to the one-room schoolhouse, a grocery store, old-fashioned entertainment, Fred Bear memorabilia, a saloon, and a sheriff's display. Another room is furnished as a bunk room for the railroad crew, which was the original use of the second floor.<br><br>
            <a href='#'>Read More</a></p>
        </div>
        <div class="col-xs-12">
            <hr class="section-rule">
        </div>
    </div>

    <div class="row body-content">
        <div class="col-xs-12 col-sm-8">
            <h3><a href='#'>Hanson Hills</a></h3>
            <p>Grayling was named after a fish, which was abundant in the cold, clear waters of the Au Sable. Back in the mid 1800s, men came from Europe and Scandinavia to fish for the well-known grayling.  They were guided by men like Rube Babbitt Sr. and Chief Shoppenagon. Later, trout became the primary fish that attracted tourists from near and far. 
            As early as 1914, local sportsmen began the Fish Hatchery to restock trout in the nearby streams. It was the forerunner of modern fisheries management. The Fish Hatchery has now been restored and trout are being raised there specifically for the visitor to view. The hatchery is operated by the Grayling Recreation Authority.<br><br><a href='#'>Read More</a></p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img src="assets/img/gallery/gallery27.jpg" />
        </div>
        <div class="col-xs-12">
            <hr class="section-rule">
        </div>
    </div>

</div>
<!--
                
                
                The DNR room holds photos of the winter sports park, which is now called Hanson Hills. One can see the snow train, which would bring thousands of enthusiasts from Detroit to the park for a fun-filled weekend of winter sports. There is also a showcase displaying winter carnival and snow queen memorabilia. Today, Hanson Hills still offers skiing, tubing and snowshoeing, as well as summer sports.<br><br>
                
                Adjacent to the museum is a 1929 railroad caboose.  Walk inside and see how it served as the "home away from home" for the train crewmen.   This caboose racked up thousands of miles while making the Detroit to Mackinaw run for many years.<br><br>
                
                The Museum Annex (small white building) was built in the 1870s.  It was the first schoolhouse in Grayling. It later became the Township Hall. It now houses an impressive military display dating back to the Civil War. Included are displays depicting a typical barracks and supply room. The Annex also contains a photo display of the history of Camp Grayling, a National Guard facility. The camp began in 1913 through a gift of land from local lumber baron, Rasmus Hanson.  Today, Camp Grayling Military Installation is the largest National Guard Training facility in the U.S.  It spans 147,000 acres in Crawford, Kalkaska and Otsego Counties<br><br>
                
                The fire hall in the museum complex, constructed by members of the Grayling City and Township Fire Departments, houses two fire engines. The 1922 Model T Ford is said to be the first ever used at Camp Grayling and is on permanent loan to the museum from the 746th Battalion. Sgt. Major Chris Beauchamp and Sgt. First Class Terry Rood were instrumental in reconditioning the vehicle. The 1937 Chevy fire truck is a Champion Fire Engine made by W.S. Darley and Co., of Chicago. It was the city's first fire truck. <br><br>
                
                The museum also includes a small rustic trapper's cabin, which was built in the 1800s by a trapper living in Houghton Lake. You can see various pelts and tools inside and find out how the cabin was furnished to help the trapper survive during the cold winter months<br><br>
                
                The agricultural barn houses many farm implements from the early years of Crawford County.  Pictures depict many of the earliest farms from the area. There is also an eye-catching cutter that is over 100 years old and a 1949 tractor, both of which are on loan to the museum. Crawford County is not an agricultural area, in spite of the glowing reviews given to it in the early years of settlement. Practically all of the farms are no longer in existence<br><br>
                
                Purchases can be made at the gift shop located in the lobby of the depot. There are many railroad and depot items to choose from, as well as limited-edition prints of famous historic locomotives and train cars created by well-known local artists.<br><br>
                
                Personnel at the museum are volunteers who are enthusiastic about the history of this area and will answer any questions they can about the early years. The museum is operated on the basis of donations, receiving no funds from any unit of government. The membership fee in the Historical Society is an important source of funding. New members are welcome and will be contributing to the repair and restoration of the buildings and to the further development of displays at the museum site.<br><br>

            </p>
        </div>
    </div>
</div>
<!--<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12">
            <h3>About</h3>
            <p>The focus of the Museum and its collections is Connecticut’s government, military and industrial history. Permanent and changing exhibits trace the growth of the State and its role in the development of the nation from the Colonial era to the present. The Museum consists of Memorial Hall and three adjoining exhibit areas. On permanent display are portraits of Connecticut Governors as well as historic documents, including the State’s original 1662 Royal Charter, and the 1818 and 1964 State Constitutions. The 1639 Fundamental Orders have returned and are also on display at the Museum </p>
            <!--<a href="#/museum/gallery">View Gallery</a>
        </div>
        <div class="col-xs-12">
            <h3>History of the Museum</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
        </div>
        <div class="col-xs-12">
            <h3>Current Exhibits</h3>
            <ul class="exhibits-list">
                <li>Grayling Depot Station</li>
                <li>Au Sable River History</li>
                <li>Life in the Early 1900s</li>
                <li>History of Hanson Hills</li>
                <li id="see-more"><a href="/museum/exhibits/">See More</a></li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Visit</h3>
        </div>
        <div class="col-xs-12 col-md-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2837.8505399802675!2d-84.71720358452077!3d44.66140519466946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882011411ddf3bef%3A0x22e70df983887b6!2sCrawford+County+Historical+Museum!5e0!3m2!1sen!2sus!4v1460244247057" width="300" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-md-3 museum-address">
            <p><strong>Address:</strong><br>
                97 East Michigan Avenue<br>
                P.O. Box 218<br>
                Grayling, MI 49738<br>
                989-348-4461
            </p>
        </div>
        <div class="col-xs-12 col-md-4 museum-address">
            <p><strong>Hours of Operation</strong><br>
                <i>Memorial Day to Labor Day:</i><br>
                Sunday-Thursday 10am-4pm<br>
                Friday 10am-6pm<br>
                Saturday 9am-8pm<br><br>
                <i>Other hours by appointment</i>
            
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-1"></div>
    </div>
</div>-->