<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12  hero museum-hero">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-title">Crawford County Historical Museum</h1>
            <hr class="page-title-rule">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-xs-12">
            <h3>About</h3>
            <p>The focus of the Museum and its collections is Connecticut’s government, military and industrial history. Permanent and changing exhibits trace the growth of the State and its role in the development of the nation from the Colonial era to the present. The Museum consists of Memorial Hall and three adjoining exhibit areas. On permanent display are portraits of Connecticut Governors as well as historic documents, including the State’s original 1662 Royal Charter, and the 1818 and 1964 State Constitutions. The 1639 Fundamental Orders have returned and are also on display at the Museum </p>
            <a href="#/museum/gallery">View Gallery</a>
        </div>
        <div class="col-xs-12">
            <h3>History of the Museum</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
        </div>
        <div class="col-xs-12">
            <h3>Visit</h3>
        </div>
        <div class="col-xs-12 col-md-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2837.8505399802675!2d-84.71720358452077!3d44.66140519466946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882011411ddf3bef%3A0x22e70df983887b6!2sCrawford+County+Historical+Museum!5e0!3m2!1sen!2sus!4v1460244247057" width="300" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-md-3 museum-address">
            <p><strong>Address:</strong><br>
                97 East Michigan Avenue<br>
                P.O. Box 218<br>
                Grayling, MI 49738<br>
                989-348-4461
            </p>
        </div>
        <div class="col-xs-12 col-md-4 museum-address">
            <p><strong>Hours of Operation</strong><br>
                <i>Memorial Day to Labor Day:</i><br>
                Sunday-Thursday 10am-4pm<br>
                Friday 10am-6pm<br>
                Saturday 9am-8pm<br><br>
                <i>Other hours by appointment</i>
            
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-1"></div>
    </div>
</div>