.museum-hero{
    background-image: url("../../../assets/img/MuseumHero.jpg");
    background-position: 100% 43%;
    
}

#see-more{
    list-style-type:none;
}

.image-right{
    float:right;
    width:20%;
}

.image-left{
    float:left;
    width:20%;
}

.image-center{
    width:50%;
    margin:bottom:
}

.section-rule{
    color:#d6d6d6;
}